# Week 02 Homework - Kendall Gilbert

## Exercise 2.1 - Getting Started with Python
The goal of this exercise is to print text like that below to the screen based on variable values you define.

```
My name is Brianna and I give eating ice cream a score of 9 out of 10!
My sleeping enjoyment rating is 8 / 10!
Based on the factors above, my happiness rating is 8.5 out of 10 or 85.0 %!
```
For this exercise you should:

- Create three variables: one integer value (whole number) for your ice cream rating, another integer for your sleeping rating, and a character string for your first name. 
- Calculate the average of the two ratings. Store the result in a variable for your happiness.
- Find the data type of each of the variables you have defined. Are there any surprises?
- Reproduce your version of the example text using the `print()` function and the variables you have defined. Note that you may need to be careful combining text and numbers!

The cell below creates the desired variables for this exercise.

In [2]:
iceCreamRating = 7
sleepRating = 10
firstName = 'Kendall'
happinessRating = (iceCreamRating + sleepRating)/2

The cell below finds the data types for each of the variables. There are no surprises.

In [3]:
import pandas as pd
from pandas import DataFrame

info = {'iceCreamRating':[type(iceCreamRating)],'sleepRating':[type(sleepRating)],'firstName':[type(firstName)],'happinessRating':[type(happinessRating)]}
table = pd.DataFrame(data=info)
table = table.set_index(pd.Index(['Data Type']))
display(table)

          iceCreamRating    sleepRating      firstName  happinessRating
Data Type  <class 'int'>  <class 'int'>  <class 'str'>  <class 'float'>

The cell below prints the desired text.

In [10]:
print('My name is',firstName,'and I give eating ice cream a score of',iceCreamRating,'out of 10!\n''My sleeping enjoyment rating is',sleepRating,'/ 10!\n''Based on the factors above, my happiness rating is',happinessRating,'out of 10 or',happinessRating*10,'%!')

My name is Kendall and I give eating ice cream a score of 7 out of 10!
My sleeping enjoyment rating is 10 / 10!
Based on the factors above, my happiness rating is 8.5 out of 10 or 85.0 %!

## Exercise 2.2 - Creating and changing lists

: _**Table 2.5**. [FMI observation stations](http://en.ilmatieteenlaitos.fi/observation-stations) and the years in which they began operating_.

|FMI station name       | First year of operation | Group |
|:----------------------|:-----------------------:|:-----:|
|lighthouse             | 2003                    | 1     |
|Harmaja                | 1989                    | 1     |
|Suomenlinna aaltopoiju | 2016                    | 1     |
|Kumpula                | 2005                    | 1     |
|Kaisaniemi             | 1844                    | 1     |
|Malmi airfield         | 1937                    | 2     |
|Vuosaari harbour       | 2012                    | 2     |
|Kaivopuisto            | 1904                    | 2     |

For this exercise you should use the data in Table 2.5 to:

- Create two lists for the station names and first years of operation for the stations in Group 1 in Table 2.5. Be sure to list the values in the order they appear in the table.
- Modify the lists you just created to add the values Group 2, again keeping them in the same order.
- Sort the two lists, sorting the first in alphabetical order and the second so that the most recent starting year is first
    - Do you see any problems with how the lists have been sorted?
    - Python has a function called `zip()` that might be helpful in solving the sorting issue. Search online to see whether you can find a way to use `zip()` to solve the problem with the two lists.

The cell below creates the lists of station names and first year of operation.

In [26]:
stationNames = ['lighthouse','Harmaja','Suomenlinna aaltopoiju','Kumpula','Kaisaniemi']
firstYrOperation = ['2003','1989','2016','2005','1844']

The cell below modifies the lists to add the values from Group 2.

In [27]:
stationNames.append('Malmi airfield')
stationNames.append('Vuosaari harbour')
stationNames.append('Kaivopuisto')
firstYrOperation.append('1937')
firstYrOperation.append('2012')
firstYrOperation.append('1904')

The cell below sorts the two lists.

In [30]:
stationNames.sort()
firstYrOperation.sort()
firstYrOperation.reverse()
print(stationNames)
print(firstYrOperation)

['Harmaja', 'Kaisaniemi', 'Kaivopuisto', 'Kumpula', 'Malmi airfield', 'Suomenlinna aaltopoiju', 'Vuosaari harbour', 'lighthouse']
['2016', '2012', '2005', '2003', '1989', '1937', '1904', '1844']

The sorting of the lists now means that the data in the positions of the list do not correspond to each other. You can use the zip() function, as seen below, to match the name and year in the lists.

In [35]:
stationNames = ['lighthouse','Harmaja','Suomenlinna aaltopoiju','Kumpula','Kaisaniemi']
firstYrOperation = ['2003','1989','2016','2005','1844']

stationNames.append('Malmi airfield')
stationNames.append('Vuosaari harbour')
stationNames.append('Kaivopuisto')
firstYrOperation.append('1937')
firstYrOperation.append('2012')
firstYrOperation.append('1904')

combinedList = zip(stationNames, firstYrOperation)

print(set(combinedList))

{('Malmi airfield', '1937'), ('Harmaja', '1989'), ('Kaivopuisto', '1904'), ('lighthouse', '2003'), ('Suomenlinna aaltopoiju', '2016'), ('Kumpula', '2005'), ('Kaisaniemi', '1844'), ('Vuosaari harbour', '2012')}

## Exercise 2.3 - Lists and index values

: _**Table 2.6**. [Monthly average temperatures recorded at the Helsinki Malmi airport](https://www.timeanddate.com/weather/finland/helsinki/climate)._

|Month     | Temperature (Â°C) |
|:---------|:----------------:|
|January   | -3.5             |
|February  | -4.5             |
|March     | -1.0             |
|April     | 4.0              |
|May       | 10.0             |
|June      | 15.0             |
|July      | 18.0             |
|August    | 16.0             |
|September | 11.5             |
|October   | 6.0              |
|November  | 2.0              |
|December  | -1.5             |

For this exercise you should use the data in Table 2.6 to:

- Create two lists with the months and their average temperatures.
- Use a print statement to produce output like that below, where the months and temperatures are selected using index values in the corresponding lists.

```
The average temperature in Helsinki in March is -1.0
```

The cell below creates the two lists.

In [36]:
months = ['January','February','March','April','May','June','July','August','September','October','November','December']
temperatures = [-3.5,-4.5,-1.0,4.0,10.0,15.0,18.0,16.0,11.5,6.0,2.0,-1.5]

The cell below prints the desired statement.

In [37]:
print('The average temperature in Helsinki in',months[1],'is',temperatures[1])

The average temperature in Helsinki in February is -4.5

## Exercise 2.4 - Batch processing files with a `for` loop

Batch processing is a common task in Python, where a set of data and/or files are analyzed one after another using the same script or program. In this exercise your goal is to produce a Python list of filenames that could be used to batch process the data they contain.

For this exercise you should:

- Use a `for` loop to create a Python list that produces the output below when you print the list:

    ```
    ['Station_0.txt', 'Station_1.txt', 'Station_2.txt', 'Station_3.txt',
     'Station_4.txt', 'Station_5.txt', 'Station_6.txt', 'Station_7.txt',
     'Station_8.txt', 'Station_9.txt', 'Station_10.txt', 'Station_11.txt',
     'Station_12.txt', 'Station_13.txt', 'Station_14.txt', 'Station_15.txt',
     'Station_16.txt', 'Station_17.txt', 'Station_18.txt', 'Station_19.txt',
     'Station_20.txt']
    ```

The cell below creates a for loop to generate the desired list.

In [42]:
list = []
for i in range(21):
    number = str(i)
    list.append('Station_'+number+'.txt')
print(list)

['Station_0.txt', 'Station_1.txt', 'Station_2.txt', 'Station_3.txt', 'Station_4.txt', 'Station_5.txt', 'Station_6.txt', 'Station_7.txt', 'Station_8.txt', 'Station_9.txt', 'Station_10.txt', 'Station_11.txt', 'Station_12.txt', 'Station_13.txt', 'Station_14.txt', 'Station_15.txt', 'Station_16.txt', 'Station_17.txt', 'Station_18.txt', 'Station_19.txt', 'Station_20.txt']